snippet patricio "Una de las frases más épicas de Patricio" b
¿Es decir que se han apoderado de lo que creíamos creer y nos hacen creer que
creíamos que los pensamientos que hemos tenido son pensamientos que creemos que
creíamos?
endsnippet
