snippet for "For loop (traditional)"
for ($1; $2; $3) {
    $0
}
endsnippet

snippet main "Main function"
int main(void) {
    $0

    return 0;
}
endsnippet

snippet margs "Main function with args"
int main(int argc, char* argv[]) {
    $0

    return 0;
}
endsnippet
