extends javascript

snippet st "React useState"
const [$1, set${1/(.+)/\u$1/}] = useState($2);
endsnippet

snippet ef "React useEffect"
useEffect(() => {
  $0
  $2();
}, [$1]);
endsnippet

snippet ef "React useEffect (async)"
useEffect(() => {
  const $2 = async () => {
    $0
  };

  $2();
}, [$1]);
endsnippet
