snippet func "Crea una nueva función" b
create or replace function fn_$1($2) returns $3
as $$
  $4
$$ language $4;
endsnippet

snippet table "Crea una nueva tabla" b
create table $1 (
  $2
);
endsnippet

snippet view "Crea una nueva vista" b
create view vw_$1 as
  $2
endsnippet
