snippet imr "Import React" b
import React from "react";
endsnippet

snippet rfc "React function component" 
const $0: React.FC = () => {
	$1
};
endsnippet

snippet rcc "React class component"
type Props = {
	$2
};

class $0 extends React.Component<Props> {
	$1
} 

export default $0;
endsnippet
