snippet ttt "Texto monoespaciado (\texttt)" w
\texttt{$1}
endsnippet

snippet itemize "Lista no enumerada" b
\begin{itemize}
  \item $1
\end{itemize}
endsnippet

snippet enumerate "Lista enumerada" b
\begin{enumerate}
  \item $1
\end{enumerate}
endsnippet

snippet minted "Código minted" b
\begin{minted}{$1}
$2
\end{minted}
endsnippet

snippet minline "Código minted inline" w
\mintinline{$1}{$2}
endsnippet
