extends javascript

snippet api "Next API endpoint"
import { NextApiRequest, NextApiResponse } from 'next';

const $1 = async (req: NextApiRequest, res: NextApiResponse) => {
  $0
};

export default $1;
endsnippet
