extends javascriptreact

snippet comp "Functional React component"
interface IProps {
  $2
}

const $1 = ({ `!p snip.rv = ', '.join(list(map(lambda x: re.sub(r' *(.+?):.+;', r'\1', x), t[2].split('\n'))))` }: IProps) => {
  $0
}

export default $1;
endsnippet
